<section data-markdown>
    ### Usando o pacote padrão HTTP
    - No exemplo a seguir, é implementado um transporte personalizado que registra 
    a URL solicitada e modifica um cabeçalho antes de executar o round tripper padrão:
    
</section>
<section data-markdown>
    ### Creating a simple server
    - A outra funcionalidade oferecida pelo pacote é a criação de servidores. 
    A interface principal do pacote é "Handle", que possui um método, "ServeHTTP", 
    que usa a solicitação para escrever uma resposta. 
    - Sua implementação mais simples é "HandlerFunc", que é uma função com a mesma assinatura de "ServeHTTP" 
     e implementa "Handler".
    
</section>
<section data-markdown>
    ### Usando o pacote padrão HTTP
    - O pacote expõe o tipo "http.Client" que é usado para fazer solicitações. 
    Se as solicitações forem simples **GET** ou **POST**, existem métodos dedicados. 
    - O pacote também oferece uma função com o mesmo nome, mas é apenas um atalho para 
    os respectivos métodos da instância "DefaultClient":

    ![HTTP Cliente](imagem2/httpCliente.png)

</section>

<section data-markdown>
    ### Usando o pacote padrão HTTP
    - Para qualquer outro tipo de requisito, o método **"Do"** permite executar o 
    "http.Request" específico. A função "NewRequest" permite especificar qualquer "io.Reader".

    ![HTTP Cliente](imagem2/httpDo.png)

</section>

<section data-markdown>
    ### Usando o pacote padrão HTTP
    - http.Client possui vários campos e muitos deles são interfaces que permitem 
    usar a implementação padrão ou personalizada:
        - O primeiro é o "CookieJar" que permite ao cliente armazenar e reutilizar cookies da web. 
        Um cookie é um dado que o navegador envia ao cliente e o cliente pode enviar de volta ao 
        servidor para substituir cabeçalhos, como autenticação. O cliente padrão não usa um cookie jar.
    
</section>

<section data-markdown>
    ### Usando o pacote padrão HTTP
    - http.Client interfaces: 
        - A outra interface é o "RoundTripper", que possui apenas um
    método, "RoundTrip", que recebe uma solicitação e retorna uma resposta. 
        - Existe um valor "DeafultTransport" usado se nenhum valor for especificado 
        que também pode ser usado para compor uma implementação customizada de RoundTripper. 
        - "http.Response" retornado pelo cliente também possui um corpo, que é "io.ReadCloser", e seu fechamento é de responsabilidade da 
    aplicação.
        - É por isso que é recomendado usar uma instrução "defered Close" assim que a resposta for obtida.
    
</section>

<section data-markdown>
    ### Creating a simple server

    ```
    type customHandler int
    func (c *customHandler) ServeHTTP(w http.ResponseWriter, r *http.Request) {
        fmt.Fprintf(w, "%d", *c) *c++ }
    func main() {
        mux := http.NewServeMux()
        mux.HandleFunc("/hello", func(w http.ResponseWriter, r *http.Request) {
        fmt.Fprintf(w, "Hello!") })
        mux.HandleFunc("/bye", func(w http.ResponseWriter, r *http.Request) {
        fmt.Fprintf(w, "Goodbye!") })
        mux.HandleFunc("/error", func(w http.ResponseWriter, r *http.Request) {
        w.WriteHeader(http.StatusInternalServerError)
        fmt.Fprintf(w, "An error occurred!")})
        mux.Handle("/custom", new(customHandler))
    }
    if err := http.ListenAndServe(":3000", mux); err != nil {log.Fatal(err)}
```
</section>